/* Sign Button Start */
.sign-btn {
  background-color: var(--black-color);
  border: 1px solid var(--txt-color);
  font-size: 13px;
  padding: 5px 20px;
}
.sign-btn:hover {
  background-color: var(--bg-color);
}
.sign-btn-link {
  color: var(--txt-color);
  text-decoration: none;
}
/* Sign Button End */
