.movie-hero {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: cover;
}
.hero-img {
    position: absolute;
    z-index: -5;
    top: 0;
    width: 100%;
}
.movie-logo {
    margin-bottom: 40px;
}
.movie-logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.movie-details {
    padding-left: 3%;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: var(--txt-color);
    background: linear-gradient(
        90deg,
        #181818 10%,
        hsla(0, 0%, 9%, 0.98) 20%,
        hsla(0, 0%, 9%, 0.97) 25%,
        hsla(0, 0%, 9%, 0.95) 35%,
        hsla(0, 0%, 9%, 0.94) 40%,
        hsla(0, 0%, 9%, 0.92) 45%,
        hsla(0, 0%, 9%, 0.9) 50%,
        hsla(0, 0%, 9%, 0.87) 55%,
        hsla(0, 0%, 9%, 0.82) 60%,
        hsla(0, 0%, 9%, 0.75) 65%,
        hsla(0, 0%, 9%, 0.63) 70%,
        hsla(0, 0%, 9%, 0.45) 75%,
        hsla(0, 0%, 9%, 0.27) 80%,
        hsla(0, 0%, 9%, 0.15) 85%,
        hsla(0, 0%, 9%, 0.08) 90%,
        hsla(0, 0%, 9%, 0.03) 95%,
        hsla(0, 0%, 9%, 0)
    );
}
.movie-logo {
    height: 75px;
}
.movie-logo img {
    height: 100%;
}
.movie-title {
    font-size: 20px;
    font-weight: 800;
}
.movie-info {
    font-size: 14px;
    color: grey;
}
.movie-synopsis {
    font-size: 12px;
}
.movie-staring {
    font-size: 14px;
}
.movie-staring span {
    font-weight: 800;
}
