/* Join Button Start */
.join-btn {
  background-color: #e10712;
  text-align: center;
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 25px;
}
.join-btn:hover {
  background-color: var(--primary-color);
}
.join-btn-link {
  color: var(--txt-color);
  text-decoration: none;
}
/* Join Button End */
