.change-language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid var(--txt-color);
    background-color: var(--bg-color);    
}
.change-language img{
    margin-left: 10px;
}
.select-language{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

select {
  width: 100px;
  height: 25px;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #221F1F;
  background-color: #221F1F;
  color: #F5F5F1;
  
}

.txt-xl{
  font-size: 3rem;
  font-weight: 900;
  color: var(--txt-color);
}
.txt-md{
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--txt-color);
}
.input input{
  padding:15px;
  border: none;
  border-radius: 10px;
  background-color: #221f1fce;
  width: 20rem;
}
@media screen and (max-width: 991px){

  .txt-xl {
    font-size: 2rem;
    font-weight: 700;
  }
  .txt-md{
    font-size: 1.1rem;
    font-weight: 400;
  }
}