.btn {
    padding: 9px 12px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn a {
    cursor: pointer;
    height: 100%;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
